<html>
{{ "<!-- Header -->" | safeHTML }}
    {{ partial "header.html" . }}

    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

        {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main">

                <section id="banner" class="style2">
                    <div class="inner">
			                  {{ if .Params.image }}
                        <span class="image">
                            <img src="{{ .Site.Params.MediaSecureDeliveryURL }}/{{ .Params.image }}" alt="" />
                        </span>
			                  {{ end }}
                        <header class="major">
                            <!-- <h1>{{ .Title }}</h1> -->
                            <h1>Archived Events</h1>
                        </header>
                        <div class="content">
                            {{ .Content }}
                        </div>

                        <ul class="actions">
                            <li><a href="/events" class="button next">Our Current events</a></li>
                        </ul>
                    </div>
                </section>

                <section id="two" class="spotlights">
                    {{ range (.Pages.ByParam "event_date").Reverse }}
                    <section class="event-listing">
			                  {{ if .Params.image }}
                        <a href="{{ .URL }}" class="event-listing__image image">
							              <img src="{{ .Site.Params.MediaSecureDeliveryURL }}/{{ .Params.image }}" alt="" data-position="center center" />
						            </a>
                        {{ end }}
                        <div class="event-listing__content content">
                            <div class="event-listing__inner">
                                <header class="event-listing__header major">
                                    <h3 class="event-listing__title">{{ .Title }}</h3>
                                </header>
                                {{ if .Params.description }}
                                <p class="event-listing__description">{{ .Description }}</p>
                                {{ end }}
                                {{ if .Params.location }}
                                <h4 class="event-listing__location">{{ .Params.location }}</h4>
                                {{ end }}
                                {{ if .Content }}
                                <ul class="event-listing__button actions">
                                    <li><a href="{{ .URL }}" class="button next">More information</a></li>
                                </ul>
                                {{ end }}
                            </div>
                        </div>
                    </section>
                    {{ end }}
                </section>

                <!-- <section id="banner" class="style2">
                     <div class="inner">
                     <header class="major">
                     <h1>{{ .Title }}</h1>
                     </header>
                     <div class="content">
                     {{ .Content }}
                     </div>
                     </div>
                     </section> -->


                <div class="main--clear"></div>
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
			{{ if .Site.Params.footer.enable }}
				{{ partial "footer.html" . }}
            {{ end }}
        
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}
        
    </body>
</html>
